<%- include("partials/header") -%>
    <script>
        document.getElementById('contact-nav').classList.add("fh5co-active");
    </script>

    <div id="fh5co-main">
        <div class="fh5co-more-contact">
            <div class="fh5co-narrow-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                            <div class="fh5co-icon">
                                <i class="icon-globe"></i>
                            </div>
                            <div class="fh5co-text">
                                <p>
                                    <a href="#">
                                        <%= contact.email %>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                            <div class="fh5co-icon">
                                <i class="icon-map"></i>
                            </div>
                            <div class="fh5co-text">
                                <p>
                                    <%= contact.address %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
                            <div class="fh5co-icon">
                                <i class="icon-phone"></i>
                            </div>
                            <div class="fh5co-text">
                                <p>
                                    <a href="tel://<%= contact.email %>">
                                        <%= contact.phone %>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">

            <div class="row">
                <div class="col-md-4">
                    <h2>Ý kiến đóng góp của bạn</h2>
                </div>
            </div>
            <form action="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Tên của bạn">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="email" placeholder="Email của bạn">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phone" placeholder="Số điện thoại">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea name="" id="message" cols="30" rows="7" class="form-control" placeholder="Nội dung"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="button" onclick="sendMessage()" class="btn btn-primary btn-md" value="Gửi">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div id="map"></div>
    </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- https://sweetalert2.github.io/#download-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        function sendMessage() {
            var message = {};
            message.name = $("input[name='name']").val();
            if (!message.name) {
                $("input[name='name']").attr('placeholder', 'Vui lòng nhập tên');
                $("input[name='name']").focus();
                return;
            }
            message.email = $("input[name='email']").val();
            if (!message.email) {
                $("input[name='email']").attr('placeholder', 'Vui lòng nhập email');
                $("input[name='email']").focus();
                return;
            }
            message.content = $("#message").val();
            if (!message.content) {
                $("#message").attr('placeholder', 'Vui lòng nhập nội dung');
                $("#message").focus();
                return;
            }
            message.phone = $("input[name='phone']").val();
            $.ajax({
                url: '/contact/send-message',
                method: 'post',
                data: JSON.stringify(message),
                contentType: 'application/json',
                success: function(response) {
                    Swal.close();
                    if (JSON.parse(response) == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: 'Gửi ý kiến thành công...',
                            text: 'Cảm ơn bạn đã đóng góp ý kiến!',
                            showConfirmButton: true
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Có lỗi xảy ra!',
                            footer: 'Vui lòng thử lại sau.'
                        })
                    }
                },
                error: function(response) {
                    Swal.close();
                    alert('Lỗi server! Vui lòng thử lại sau')
                }
            });
        }
    </script>

    <%- include("partials/footer.ejs") -%>